.collection {
  width: 1200px;

  .container {
    width: 100%;

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .collection-item {
        margin-bottom: 5.5rem;
      }
    }
  }
}
