.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  top: 1.9rem;
  right: 0;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .empty-message {
      margin: 4rem auto;
    }
  }

  button {
    margin-top: auto;
  }
}
