.slider-wrapper {
  width: 100vw;
  height: 900px;
  display: flex;
  position: absolute;
  top: 162px;

  .inner-slider {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:first-child {
      .hero-heading {
        width: 500px;
        padding-right: 6rem;
        margin-right: 6rem;
      }
    }
  }
}

.button-container {
  border: 1px solid white;
  border-bottom: none;
  display: flex;
  position: absolute;
  top: 970px;
  left: 50%;
  z-index: 10;

  .slider-button {
    border: none;
    padding: 2rem;
    transition: 0.2s;

    &:first-child {
      background: white;
      color: var(--color-black);

      &:hover {
        color: white;
      }
    }

    &:last-child {
      background: orange;
      color: white;
    }

    &:hover {
      cursor: pointer;
      background: darkorange;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  .slider-wrapper {
    flex-direction: column;
    top: 5rem;
    height: 75vh;

    .inner-slider {
      width: 100%;
      height: 70%;

      &:first-child {
        margin-bottom: 2rem;
        justify-content: center;

        .hero-heading {
          width: 60%;
          padding-right: 0;
          margin-right: 0;
          text-align: center;

          h1 {
            font-size: 1.75rem;
          }
        }
      }

      &:last-child {
        height: 120%;
      }
    }
  }

  .button-container {
    display: none;
  }
}

@media screen and (max-width: 1064px) {
  .slider-wrapper {
    .inner-slider {
      &:first-child {
        .hero-heading {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }
}
