.slider-wrapper {
  width: 100vw;
  height: 900px;
  display: flex;
  position: absolute;
  top: 162px;

  .inner-slider {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:first-child {
      .hero-heading {
        width: 500px;
        padding-right: 6rem;
      }
    }
  }
}

.button-container {
  border: 1px solid white;
  border-bottom: none;
  display: flex;
  position: absolute;
  top: 970px;
  left: 50%;
  z-index: 10;

  .slider-button {
    border: none;
    padding: 2rem;
    transition: 0.2s;

    &:first-child {
      background: white;
      color: var(--color-black);

      &:hover {
        color: white;
      }
    }

    &:last-child {
      background: orange;
      color: white;
    }

    &:hover {
      cursor: pointer;
      background: darkorange;
    }

    &:focus {
      outline: none;
    }
  }
}
