.collection-item {
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .collection-item-image {
    width: 100%;
    height: 95%;
    margin-bottom: 10px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
}
