.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .details-container {
    width: 35%;
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    .name {
      margin-left: 2rem;
    }
  }

  .price {
    width: 20%;
    align-self: center;
  }

  .quantity {
    width: 20%;
    display: flex;
    align-items: center;

    .q-box {
      width: 2rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      border-left: none;
      border-right: none;
    }

    .arrow {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
  }

  .amount {
    width: 20%;
    align-self: center;
  }

  .remove-button {
    width: 5%;
    align-self: center;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}
