#main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  overflow: hidden;
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  #main-section {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
