#shop {
  width: 100%;
  display: flex;
  justify-content: center;

  .shop-container {
    width: 1200px;
  }
}

@media screen and (max-width: 780px) and (orientation: portrait) {
  #shop {
    .shop-container {
      padding: 1rem;
    }
  }
}
